// Colors

// The color palette
$palette: (
  light: #ffffff,
  dark: (
    1: #15052e,
    2: #15052e,
    3: #768db2,
  ),
  primary: (
    1: #f58b5b,
    2: #dabf75,
    3: #81e6f4,
    4: #22bfa8,
  ),
  secondary: (
    1: #bf9e22,
    2: #f3aa43,
    3: #81e6f4,
    4: #22bfa8,
  ),
  alert: (
    error: #ff7272,
    warning: #ffb572,
    success: #43deb5,
  ),
);

$btn-gradient-top: #f3859c;
$btn-gradient-bottom: #7f327c;
$white: #fff;
$txt-light: rgba(245, 139, 91, 1);

// Base typography: color
$color: (
  heading: get-color(dark, 1),
  base: get-color(dark, 2),
  high-contrast: get-color(dark, 1),
  mid-contrast: get-color(dark, 2),
  low-contrast: get-color(dark, 3),
  primary: get-color(primary, 1),
  secondary: get-color(secondary, 1),
  error: get-color(alert, error),
  warning: get-color(alert, warning),
  success: get-color(alert, success),
  // ↓ Inverted colors
  heading-inverse: get-color(light, 1),
  base-inverse: get-color(dark, 3),
  high-contrast-inverse: get-color(light, 1),
  mid-contrast-inverse: get-color(light, 2),
  low-contrast-inverse: get-color(light, 3),
);

// Borders and dividers: color
$border--color: (
  divider: get-color(light, 3),
  divider-inverse: get-color(dark, 2),
);

// Icons: fill color
$icon--color: (
  hamburger: get-color(dark, 1),
  // hamburger icon
  accordion: get-color(primary, 1),
  // accordion icon
  social: get-color(primary, 2),
  // social icons
  social-hover: get-color(primary, 1),
  // social icons (:hover)
  modal: get-color(light, 3),
  // modal icon
  modal-hover: get-color(dark, 3),
  // modal icon (:hover)
  // ↓ Inverted colors
  hamburger-inverse: get-color(light, 1),
  // hamburger icon
  accordion-inverse: get-color(light, 1),
  // accordion icon
  social-inverse: get-color(light, 1),
  // social icons
  social-hover-inverse: get-color(light, 1) // social icons (:hover),,,,,,,,,
);

// Misc elements: background color
$bg--color: (
  body: get-color(light, 1),
  // body-shadow:	0 20px 48px rgba(get-color(dark, 1), .1),	// body shadow when a boxed layout is used (set to null if don't want a shadow)
  body-outer: get-color(light, 2),
  // outer bg color when a boxed layout is used
  bg-color: get-color(dark, 1),
  // .has-bg-color helper class
  // shadow: 		0 32px 64px rgba(get-color(dark, 1), .24),	// .has-shadow helper class
  code: get-color(light, 2),
  // code-inverse:	darken(get-color(dark, 1), 3%)
);
