@import "settings/settings";
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@import "core/fonts";

@import "core/base";

.btn-buy, .btn-secondary, .modal-footer .btn-primary {
  // background: linear-gradient(to top, $btn-gradient-top, $btn-gradient-bottom);
  padding: .2rem 0.6rem;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  color: $white;
  line-height: 1;
  cursor: pointer;
}

.btn-secondary, .modal-footer .btn-primary{
  font-size: 0.9rem;
  padding: 0.8rem 1rem;
  border: 0px solid;
  margin-right: 0.5rem;
}
.modal-footer .btn-primary{
  box-shadow:none;
  padding: 0.8rem 1rem;
  height: auto;
}
.modal-footer .btn-primary::before, .modal-footer .btn-primary::after{
  content: none;
}

.btn-secondary.search-btn{
  background: #5D5A62;
  font-weight: normal;
}

.xblade {
  color: $txt-light;
}

.navbar-nav .nav-link.dropdown-toggle{
  color: $white;
  font-size: 1.3rem;
  font-weight: bold;
}

.navbar-nav .nav-link.dropdown-toggle i{
  font-size: 2rem;
}

.dropdown-item{
  color: $white;
}

.app {
  margin: 0;
  width: calc(100vw);
  height: calc(100vh);
  overflow-y: auto;
  background: url('../images/bg.png') no-repeat 0 0;
  background-size: 100% 100%
}

.main-font .nav-item a{
  color: #B3B0A8;
}
.main-font .nav-item{
  margin: 0 0.1rem;
  font-size: 0.8rem;
}

.main-font .navbar{
  padding-top: 0;
  display: none;
}

.gtag-link-others{
  margin-right: 1rem;
}

a:hover,
.navbar-light .navbar-nav a.router-link-active, .navbar-light .navbar-nav a.router-link-active span, .navbar-light .navbar-nav a:hover span {
  color: #F58B5B;
  text-decoration: none !important;
}

.navbar-expand{
  list-style: none;
}

.navbar-brand, .main-nav{
  padding-bottom: 0;
}

.character-display-container{
  // border: 1px solid #707070aa;
  padding: 0 1rem 0;
}

li:not(:last-child){
  margin-bottom: 0;
}

.button-div .btn-primary{
  margin-right: 40px;
  margin-left: 40px;
  min-width: 70px;
}

.navbar-light .navbar-nav .show > .nav-link{
  color: $white;
}

.custom-select{
  background-color: #ffffff44;
  color: #fff;
  border-color: #ffffff55;
}

select.form-control option, .custom-select option{
  background-color: #5c456a;
  color: #fff;
  border-color: #ffffff55;
}

.btn-primary.disabled, .btn-primary:disabled{
  color: #000;
  justify-content: center;
}

.form-control{
  background-color: #ffffff44;
  color: #fff;
  border-color: #ffffff66;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
  color: #fff;
}

.btn .b-icon.bi{
  font-size: 100%;
}
.d-flex{
  align-items: center;
}

// .search-results{
//   margin-top: 1rem;
// }

.character-portrait {
  width: 17.625rem;
  height: calc(17.625rem * 0.56);
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/images/chara-bg.png") center bottom -4px no-repeat;
  background-size: contain;
  background-clip: border-box;
  margin-right: 1.9rem;
}

.character-portrait img {
  max-height: 100%;
  max-width: 100%;
}

.character-earning-potential {
  position: relative;
  display: flex;
}

.chara-head-box{
  transition: all 0.3s ease-in;
  max-height: 200px;
  overflow: hidden;
}

.body .chara-head-box{
  overflow: inherit;
}

.form-control::placeholder{
  color: #aaa;
}

// .nft-grid .btn-secondary{
//   margin: 0.5rem auto;
//   display: flex;
//   justify-content: center;
//   max-width: 100%;
//   // width: 80%;
//   min-width: 11rem;
// }
.shop-items .gtag-link-others{
  margin-right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.425);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  color: #fff;
  z-index: 999;
}

.marketoutcome-panel {
  width: 50rem;
  height: calc(50rem * 0.69);
  max-width:  100%;
  background-image: url('../images/bg-modal.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 0.5em;
  margin: auto;
  overflow: auto auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marketoutcome-panel-heading {
  margin-left: 15px;
  margin-top: 3rem;
  font-size: 2.8rem;
  font-weight: bold;
  color: #F58B5B;
  display: block;
  text-align: center;
}

.marketoutcome-panel .button-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}

.marketoutcome-list {
  padding: 30px 20px 15px 10px;
  font-size: 1.3rem;
  list-style: none;
  padding-left: 0;
}


@media all and (max-width: 767.98px) {
  h1{
    font-size: 1.6rem;
  }
  .main-font .nav-tabs a.nav-link{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .dust-box-modal .placeholder{
    margin-top: 0;
  }
  .character-portrait{
    background-size: cover;
    margin-right: 0rem;
  }
  .character-data-column .name{
    // font-size: 1.1rem;
  }
  .subtext-stats p{
    // font-size: 0.8rem;
  }
  .chara-head-box{
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .character-earning-potential{
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-right: 0px;
    padding-left: 0;
    justify-content: center;
  }
  .character-display-container .root{
    display: flex;
    flex-wrap: wrap;
  }
  .character-display-container .chara-head-box{
    max-height: 500px;
  }
  .btn-secondary.search-btn{
    margin-bottom: 1rem;
  }
  .navbar-nav .dropdown-menu{
    position: absolute;
  }
  .marketoutcome-panel-heading {
    font-size: 1.5rem;
    margin-top: 1.2rem;
  }
  .marketoutcome-list {
    font-size: 0.8rem;
  }
  .marketoutcome-panel .button-div {
    margin-top: 0;
  }
  .marketoutcome-panel .button-div button {
    font-size: 15px;
    padding-left: 8px;
  }
}